
.vis {
  border: none;
  shape-rendering: crispEdges;
}

rect.bar {
  stroke: #000;
  fill: #2AB991;
  fill-opacity: .75;
}



/*http://www.google.com/design/spec/style/color.html#color-color-palette*/
/* Google suggests using the 500 colors as the primary colors in your app and the other colors as accents colors.*/


rect.bar.legislativo,
rect.bar.Legislativo {
  fill: #3F51B5;/*Material Indigo 500*/
}
rect.bar.legislativo.nacional{
  fill: #3F51B5;/*Material Indigo 500*/
}
rect.bar.legislativo.provincial{
  fill: #7986CB;/*Material Indigo 300*/
}
}
rect.bar.legislativo.municipal.concejal{
  fill: #C5CAE9;/*Material Indigo 100*/
}

rect.bar.ejecutivo,
rect.bar.Ejecutivo{
  fill: #F44336; /*Material Red 500*/
}
rect.bar.ejecutivo.nacional{
  fill: #F44336; /*Material Red 500*/
}
rect.bar.ejecutivo.provincial{
  fill: #E57373;/*Material Red 300*/
}
rect.bar.ejecutivo.municipal{
  fill: #FFCDD2; /*Material Red 100*/
}

g.barGroup:hover rect.bar {
  fill-opacity: 1;
}

line.peakLine {
  stroke: #AEFF00;
  stroke-width: 1px;
}

text {
  font-size: 9px;
  fill: #fff;
}

text.rule {
  fill: #888;
}
line.tickLine {
  stroke: #333;
}
line.mouseLine {
  stroke: #0ff;
  stroke-opacity: .3;
}

#controls {
  padding: 4px;

}
a {
  cursor: pointer;
  text-decoration: none;
}
a.active {

}

#infobox {
  position: absolute;
  width: 200px;
  height: auto; 
  padding: 8px;
  display: none;
  background: #333;
  color: #aaa;  
}
#infobox img {
  max-width: 100px;
}
.title {
  font-weight: bold;
}

#nombre{
  width: 100%;
}
