
.vis {
  border: none;
  shape-rendering: crispEdges;
}

rect.bar {
  stroke: #000;
  fill: #2AB991;
  fill-opacity: .75;
}
g.barGroup:hover rect.bar {
  fill-opacity: 1;
}

line.peakLine {
  stroke: #AEFF00;
  stroke-width: 1px;
}

text {
  font-size: 9px;
  fill: #fff;
}

text.rule {
  fill: #888;
}
line.tickLine {
  stroke: #333;
}
line.mouseLine {
  stroke: #0ff;
  stroke-opacity: .3;
}

#controls {
  padding: 10px;

}
a {
  cursor: pointer;
  text-decoration: none;
}
a.active {

}

#infobox {
  position: absolute;
  width: 200px;
  height: auto; 
  padding: 8px;
  display: none;
  background: #333;
  color: #aaa;  
}
.title {
  font-weight: bold;
}

#nombre{
  width: 100%;
}
