
<div id="result">

</div>

<script type="text/template" id="person">
    <h1>
        <a target="_blank" href="https://<%=instance%>/persons/<%=person.id%>"> <%=person.name%> </a>
        <a target="_blank" href="http://www.cargografias.org/<%=instance%>#/memberships-<%=person.id_sha1.substr(0,6)%>"> <%=person.id_sha1.substr(0,6)%> </a>
    </h1>
    <% repes.forEach(function(r){ %>
        <h2>Repetidos mismo anio</h2>
        <table border=1>
            <tr>    
            <td></td>
            <td>start</td>
            <td>end</td>
            <td>label</td>
            <td>organization</td>
            </tr>

            <% r.forEach(function(m){ %>
                <tr>    
                <td>
                    <a target="_blank" href="https://<%=instance%>/memberships/<%=m.id%>">popit</a>
                </td>
                <td><%=m.start_date%></td>
                <td><%=m.end_date%></td>
                <td><%=m.label%></td>
                <td>
                    <a target="_blank" href="https://<%=instance%>/organizations/<%=m.organization_id%>"><%=orgid[m.organization_id].name%></a>
                </td>
                </tr>
            <% }) %>
        </table>
    <% }) %>
</script>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script>

    var instance = 'cargografias';

    try{
        instance = window.location.href.split('?')[1]
    }catch(ex){}

    var personTemplate = _.template($('#person').html());

    jQuery.getJSON( "http://localhost:8080/static-public/datasets/" + instance + "-memberships.json" , function(res){
    mem = res       
    console.log('mem')
    } )
    jQuery.getJSON( "http://localhost:8080/static-public/datasets/" + instance + "-organizations.json" , function(res){
    console.log('oprg')
    org = res
    orgid = org.reduce(function(memo, o){ memo[o.id] = o;  return memo;}, {})
    } )
    jQuery.getJSON( "http://localhost:8080/static-public/datasets/" + instance + "-persons.json" , function(res){
    console.log('per')
        per = res

        filterPersons()
    } )


function filterPersons(){
    
    var renderedparts = [];

    filtered = per.filter(function(p) { 

        var aa = {}

        p.memberships.forEach(function(m){
            if(m.start_date){
                var sdd = m.start_date.substr(0,4)
                aa[sdd] = aa[sdd] || []
                aa[sdd].push(m);
            }
        })

        var repes = []
        for(x in aa){
            if(aa[x].length > 1){
                repes.push(aa[x])
            }
        }

        if(repes.length){

            renderedparts.push(personTemplate({
                person: p,
                repes: repes,
                orgid: orgid, 
                instance: instance
            }))

            console.log(" PERSON " , p.name)
            repes.forEach(function(r){
                console.log('Repes =============== (mismo anio)')
                r.forEach(function(m){
                    console.log(m)
                })
            })
        }


    })

    $('#result').html(renderedparts.join(' '));

}


</script>