<div class="" ng-show="activePersons.length > 0">
    <div class="full-width persons" id="personas-seleccionadas-box">
        <div class="persona-seleccionada" ng-repeat="active in activePersons">
                      <div class="checkeado" ng-show="active.chequeado"> <a href="http://chequeado.com" target="_blank"><i class="fa fa-check"></i> Chequeado </a></div>
                            <a ng-click="remove(active)"><i class="fa fa-times"></i></a>
                              <div class="photo-frame"
                              ng-style="{'background-image':'url(' +active.image +')'}"
                              >
                                    
                                  </div>
                            <p>{{active.name}}</p>
                          </div>
                
            </div>
          </div>
</div>
