  <div class="row" id="filtro">
	<div class="accordion-group">
  		<div layout="row" layout-wrap>
    		<div class="" flex="40">
    				<div class="search-row clearfix">
                <input id="nombre" type="search" placeholder="Ingresá el Nombre y/​o Apellido (m&iacute;nimo 4 caracteres) de un funcionario" ng-model="nombre" ng-change="filterAutoPersons(nombre)" >
    	  				
                <a ng-click="clearFilter(nombre)" alt="Limpiar filtro" class="badge badge-warning remove" ng-show="nombre.length > 0"><i class="fa fa-times"></i></a>
    	  		    </div>
            <div ng-show="showPresets && presets.length">
              <h3 style="margin-bottom: 5px;">¿No sabés que buscar? Probá los siguientes grupos</h3>
              <div class="search-row clearfix">
                    <ul>
                        <li ng-repeat="p in presets"> 
                          <h3><a class="hand" ng-click="load(p.valores, true)">{{p.nombre}}</a></h3>
                        </li>

                    </ul>
              </div>
            </div>
        </div>
         <div flex="40">
            <div ng-show="!showPresets && search" class="full-width" >
                <div class="items">
                  <span class="label ng-binding" style="margin-bottom:4px">{{autoPersons.length}} funcionarios encontrados</span>
                  <a ng-click="clearResults()" alt="Limpiar filtro" class="badge badge-warning remove" style="padding-right:10px" ng-show="autoPersons.length > 0"><i class="fa fa-times"></i>Limpiar resultados</a>          
                  <div class="resultados">
                  <div  class="item" ng-repeat="item in autoPersons" >
                    <a id="limpiar-buscar-filtro" ng-click="add(item,item.index)" class="badge badge-warning" ng-class="item.styles" style="margin-bottom:4px">
                      <i ng-hide="item.agregada"class="fa fa-check" ></i> {{item.name}}
                      </a>                      
                  </div>
                </div>
              </div>
         </div>
       </div>
     </div>
      <div class="row full-width person-box">
       <div class="eighty left">
         <div>
                      <div class="row" ng-show="activePersons.length > 0">
                        <div class="full-width persons" id="personas-seleccionadas-box">
                          <div class="persona-seleccionada" ng-repeat="active in activePersons">
                            <div class="checkeado" ng-show="active.chequeado"> <a href="http://chequeado.com" target="_blank"><i class="fa fa-check"></i> Chequeado </a></div>
                                  <a ng-click="remove(active)" class="badge badge-warning remove"><i class="fa fa-times"></i></a>
                                    <div class="photo-frame"
                                    ng-style="{'background-image':'url(' +active.image +')'}"
                                    >
                                          
                                        </div>
                                  <p>{{active.name}}</p>
                                </div>
                      
                        </div>
                      </div>
            </div>
        </div>
        <div class="twenty right" ng-show="activePersons.length > 0">
            <small>
              <span class="label full-width">
              Seleccionados ({{activePersons.length}})</span>
            </small>
            <ul class="nav nav-pills alert-error ">
            <li>
                   <a href="#" class="badge badge-warning twitter" ng-click="clearAll()"><i class="fa fa-times"></i>Limpiar Todos</a>  
                </li>
               <li>
                    <a href="#" class="badge badge-blue twitter" onclick="window.open('https://twitter.com/intent/tweet?text=Linea%20de%20tiempo%20de%20politicos%3A&amp;tw_p=tweetbutton&amp;via=cargografias&amp;url='+encodeURIComponent(location.href),'twitter-share-dialog','width=626,height=436'); 
                    return false;"><i class="fa fa-twitter"></i>Compartí esta Linea</a>    </div>
              </li>
            </ul>
        </div>
      </div>

		<div class="clearfix"></div>
	</div>
</div>

