<div class="row" id="filter-container" ng-controller="filterController">
    <div class="accordion-group">

        <!-- Filter -->
        <div layout="row" layout-wrap>

            <div class="share-btn-container">
                <a href="#" class="btn-filter label badge-blue twitter" onclick="window.open('https://twitter.com/intent/tweet?text=Linea%20de%20tiempo%20de%20politicos%3A&amp;tw_p=tweetbutton&amp;via=cargografias&amp;url='+encodeURIComponent(location.href),'twitter-share-dialog','width=626,height=436'); return false;">
                    <i class="fa fa-twitter"></i>Compartír busqueda
                </a>
            </div>

            <input id="nombre" type="search"
                   placeholder="Ingresá el Nombre y/​o Apellido (m&iacute;nimo 4 caracteres) de un funcionario"
                   ng-model="nombre" ng-change="filterAutoPersons(nombre)" autocomplete="off">
            <a ng-click="clearFilter(nombre)" alt="Limpiar filtro" class="badge badge-warning filter-clean"
               ng-show="nombre.length > 0"><i class="fa fa-times"></i></a>

            <div class="resultados" ng-show="showResult">
                <div class="item" ng-repeat="item in autoPersons">
                    <a ng-click="add(item,item.index)"
                       class="badge badge-warning resultados-item" ng-class="item.styles" style="margin-bottom:4px">
                        <i ng-hide="item.agregada" class="fa fa-check"></i> {{item.name}}
                    </a>
                </div>
            </div>

            <div id="buttons-container">
                <a href="#" class="btn-filter label label-success" ng-click="showFilterOptions = !showFilterOptions; showAdvanceOptions = false">
                    <i class="fa fa-users"></i>¿No sabés que buscar?
                    <i class="fa fa-chevron-down" ng-show="!showFilterOptions"></i>
                    <i class="fa fa-chevron-up" ng-show="showFilterOptions"></i>
                </a>

                <a href="#" class="btn-filter label label-info" ng-click="showAdvanceOptions = !showAdvanceOptions; showFilterOptions = false">
                    <i class="fa fa-search"></i>Busqueda avanzada
                    <i class="fa fa-chevron-down" ng-show="!showAdvanceOptions"></i>
                    <i class="fa fa-chevron-up" ng-show="showAdvanceOptions"></i></avanzada>
                </a>

                <a href="#" class="btn-filter label label-warning" ng-click="clearAll();clearResults()">
                    <i class="fa fa-times"></i>Limpiar filtro
                </a>
            </div>

        </div>
        <!-- /Filter -->

        <hr class="filter-separator" ng-show="showFilterOptions || showAdvanceOptions">

        <!-- Default Filter options -->
        <div layout="row" layout-wrap>
            <div ng-show="showFilterOptions">

                <h3>¿No sabés que buscar? Probá los siguientes grupos</h3>

                <div class="search-row clearfix">
                    <ul>
                        <li ng-repeat="p in presets">
                            <h3><a class="hand" ng-click="load(p.valores, true)">{{p.nombre}}</a></h3>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- /Default Filter options -->

        <!-- Default Filter options -->
        <div layout="row" layout-wrap>
            <div ng-show="showAdvanceOptions">

                <h3>Busqueda Avanzada</h3>

            </div>
        </div>
        <!-- /Default Filter options -->


        <!-- Img List -->
        <hr class="filter-separator">

        <div layout="row">
            <div class="left">
                <div class="row" ng-show="activePersons.length > 0">
                    <div class="full-width" id="personas-seleccionadas-box">
                        <div class="persona-seleccionada" ng-repeat="active in activePersons">
                            <a ng-click="remove(active)" class="badge badge-warning remove">
                                <i class="fa fa-times"></i>
                            </a>

                            <div class="photo-frame" ng-style="{'background-image':'url(' +active.image +')'}"></div>
                            <p>{{active.name}}</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /Img List -->
    </div>

    <div class="clearfix"></div>
</div>