

<div class="filter-container" ng-controller="filterController">
    <div role="tabpanel" id="advance-filter">
        <div ng-show="showPresets && presets.length">
              <p>¿No sabés que buscar? Probá los siguientes grupos</p>
              <div class="">
                    <ul>
                        <li ng-repeat="p in presets"> 
                          <p><a class="hand" ng-click="load(p.valores, true)">{{p.nombre}}</a></p>
                        </li>

                    </ul>
              </div>
            </div>
            <div>
                <div class="search-row">
                    <input id="nombre" type="search" placeholder="Ingresá el Nombre y/​o Apellido" ng-model="nombre" ng-change="filterAutoPersons(nombre)" autocomplete="off" >    
                <!-- <a ng-click="clearFilter(nombre)" alt="Limpiar filtro" class="badge badge-warning remove" ng-show="nombre.length > 0"><i class="fa fa-times"></i></a> -->
                    <div class="opciones-busqueda">
                        <a ng-click="showBusAvanzado = true" ng-hide="showBusAvanzado"><i class="fa fa-sliders"></i>BUSQUEDA AVANZADA</a>
                        <a ng-click="showBusAvanzado = false" ng-show="showBusAvanzado"><i class="fa fa-chevron-up"></i>BUSQUEDA SIMPLE</a>
                        <a href="#" onclick="window.open('https://twitter.com/intent/tweet?text=Linea%20de%20tiempo%20de%20politicos%3A&amp;tw_p=tweetbutton&amp;via=cargografias&amp;url='+encodeURIComponent(location.href),'twitter-share-dialog','width=626,height=436'); 
                    return false;"><i class="fa fa-share-alt"></i>COMPARTIR</a>
                        <a ng-click="clearAll()"><i class="fa fa-trash"></i>LIMPIAR SELECCION</a>
                    </div>
                </div>
            </div>
            <!-- Filter -->
            <div>

                <div class="filters" ng-show="showBusAvanzado">
                    <select ng-model="filterAdvance.territory" ng-change="filterAutoPersonsAdvance()" ng-options="territory as territory for territory in getTerritories() | orderBy:'toString()'">
                        <option value="">Seleccionar territorio</option>
                    </select>
                    <select ng-model="filterAdvance.jobTitle" ng-change="filterAutoPersonsAdvance()" ng-options="jobTitle as jobTitle | lowercase for jobTitle in getJobTitle() | orderBy:'toString()'">
                        <option value="">Seleccionar cargo</option>
                    </select>
                    
                    <select ng-model="filterAdvance.decade" ng-change="filterAutoPersonsAdvance()" ng-options="decade as decade for decade in getDecades()">
                        <option value="">Seleccionar decada</option>
                    </select>
                </div>
                
                <div id="resultadosBusqueda" ng-hide="autoPersons.length == 0 && !showBusAvanzado">
                    <h3 id="quantiy-result" class="description"><i class="fa fa-users"></i> Personas encontradas: {{autoPersons.length}}
                        <div class="close">
                            <a ng-click="clearFilter(nombre)" alt="Limpiar filtro" ng-show="nombre.length > 0"><i class="fa fa-times"></i></a>
                        </div>
                    </h3>
                    

                    <div class="results" ng-hide="autoPersons.length == 0 && showBusAvanzado">
                        <div class="item" ng-repeat="item in autoPersons" >
                            <a ng-click="add(item,item.index)" class="resultados-item" ng-class="item.styles">
                                <i ng-hide="item.agregada" class="fa fa-user-plus"></i> {{item.name}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Filter -->
        </div>
    </div>
</div>

