  <div class="filter">
	<div>
  		<div>
    		<div>
    				<div class="search-row">
                <input id="nombre" type="search" placeholder="Ingresá el Nombre y/​o Apellido (m&iacute;nimo 4 caracteres) de un funcionario" ng-model="nombre" ng-change="filterAutoPersons(nombre)" >
    	  				
                <a ng-click="clearFilter(nombre)" alt="Limpiar filtro" class="badge badge-warning remove" ng-show="nombre.length > 0"><i class="fa fa-times"></i></a>
    	  		    </div>
            <div ng-show="showPresets && presets.length">
              <p>¿No sabés que buscar? Probá los siguientes grupos</p>
              <div class="">
                    <ul>
                        <li ng-repeat="p in presets"> 
                          <p><a class="hand" ng-click="load(p.valores, true)">{{p.nombre}}</a></p>
                        </li>

                    </ul>
              </div>
            </div>
        </div>
         <div>
            <div ng-show="!showPresets && search">
                <div class="items">
                  <span class="label ng-binding">{{autoPersons.length}} funcionarios encontrados</span>
                  <a ng-click="clearResults()" alt="Limpiar filtro"ng-show="autoPersons.length > 0"><i class="fa fa-times"></i>Limpiar resultados</a>          
                  <div class="resultados">
                  <div  class="item" ng-repeat="item in autoPersons" >
                    <a id="limpiar-buscar-filtro" ng-click="add(item,item.index)"  ng-class="item.styles" s>
                      <i ng-hide="item.agregada"class="fa fa-check" ></i> {{item.name}}
                      </a>                      
                  </div>
                </div>
              </div>
         </div>
       </div>
     </div>
	</div>
</div>

