<div id="filter-container" class="row" ng-controller="filterController">
    <!-- Nav tabs -->
    <ul id="filter-tab" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"  ng-click="clearFilter()">
            <a href="#basic-filter" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-group"></i> Buscar Por Personas</a>
        </li>
        <li role="presentation"  ng-click="clearFilter()">
            <a href="#preset-filter" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-info-circle"></i> No sabes que buscar?</a>
        </li>
        <li role="presentation"  ng-click="clearFilter()">
            <a href="#advance-filter" aria-controls="messages" role="tab" data-toggle="tab"><i class="fa fa-search"></i> Busqueda avanzada</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="basic-filter">
            <!-- Filter -->
            <div layout="row" layout-wrap>
                <div class="span6">
                    <input id="nombre" type="search"
                           placeholder="Ingresá el Nombre y/​o Apellido (m&iacute;nimo 4 caracteres) de un funcionario"
                           ng-model="nombre" ng-change="filterAutoPersons(nombre)" autocomplete="off">
                    <a ng-click="clearFilter(nombre)" alt="Limpiar filtro" class="badge badge-warning filter-clean"
                       ng-show="nombre.length > 0"><i class="fa fa-times"></i></a>
                </div>
                <div class="span6">
                    <div class="resultados">
                        <div class="item" ng-repeat="item in autoPersons">
                            <a ng-click="add(item,item.index)"
                               class="badge badge-warning resultados-item" ng-class="item.styles" style="margin-bottom:4px">
                                <i ng-hide="item.agregada" class="fa fa-check"></i> {{item.name}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="span12 share-btn-container">
                    <span id="quantiy-result" class="label ng-binding" style="margin-bottom:4px">{{autoPersons.length}} funcionarios encontrados</span>

                    <a href="#" class="btn-filter label label-warning" ng-click="clearAll();clearResults()">
                        <i class="fa fa-times"></i>Limpiar filtro
                    </a>
                    <a href="#" class="btn-filter label badge-blue twitter" onclick="window.open('https://twitter.com/intent/tweet?text=Linea%20de%20tiempo%20de%20politicos%3A&amp;tw_p=tweetbutton&amp;via=cargografias&amp;url='+encodeURIComponent(location.href),'twitter-share-dialog','width=626,height=436'); return false;">
                        <i class="fa fa-twitter"></i>Compartír busqueda
                    </a>
                </div>
            </div>
            <!-- /Filter -->
        </div>

        <div role="tabpanel" class="tab-pane fade" id="preset-filter">
            <!-- Default Filter options -->
            <div layout="row" layout-wrap>
                <div>
                    <h3 class="title">¿No sabés que buscar? Probá los siguientes grupos</h3>

                    <div class="search-row clearfix">
                        <ul>
                            <li ng-repeat="p in presets">
                                <h3><a class="hand" ng-click="load(p.valores, true);clearResults()">{{p.nombre}}</a></h3>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Default Filter options -->
        </div>
        <div role="tabpanel" class="tab-pane fade" id="advance-filter">

            <!-- Filter -->
            <div layout="row" layout-wrap>
                <div class="span6">
                    <select ng-model="filterAdvance.organization" ng-change="filterAutoPersonsAdvance()" ng-options="organization.id as organization.name for organization in getOrganizations()">
                        <option value="">Seleccionar territorio</option>
                    </select>
                    <select ng-model="filterAdvance.membership" ng-change="filterAutoPersonsAdvance()" ng-options="membership.id as membership.cargonominal for membership in getMemberships()">
                        <option value="">Seleccionar cargo</option>
                    </select>
                    <select ng-model="filterAdvance.decade" ng-change="filterAutoPersonsAdvance()" ng-options="decade as decade for decade in getDecades()">
                        <option value="">Seleccionar decada</option>
                    </select>
                </div>
                <div class="span6">
                    <div class="resultados">
                        <div class="item" ng-repeat="item in autoPersons">
                            <a ng-click="add(item,item.index)"
                               class="badge badge-warning resultados-item" ng-class="item.styles" style="margin-bottom:4px">
                                <i ng-hide="item.agregada" class="fa fa-check"></i> {{item.name}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="span12 share-btn-container">
                    <span id="quantiy-result" class="label ng-binding" style="margin-bottom:4px">{{autoPersons.length}} funcionarios encontrados</span>

                    <a href="#" class="btn-filter label label-warning" ng-click="clearAll();clearResults()">
                        <i class="fa fa-times"></i>Limpiar filtro
                    </a>
                    <a href="#" class="btn-filter label badge-blue twitter" onclick="window.open('https://twitter.com/intent/tweet?text=Linea%20de%20tiempo%20de%20politicos%3A&amp;tw_p=tweetbutton&amp;via=cargografias&amp;url='+encodeURIComponent(location.href),'twitter-share-dialog','width=626,height=436'); return false;">
                        <i class="fa fa-twitter"></i>Compartír busqueda
                    </a>
                </div>
            </div>
            <!-- /Filter -->
        </div>
    </div>
</div>

<script>
    $('#filter-tab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show');
    })
</script>
<style>
    #filter-container ul.nav {
        margin-top: 0;
        margin-bottom: 0;
    }

    #filter-container .tab-content {
        background: white;
        height: 220px;
        margin-top: -1px;
    }

    #filter-container .span6 {
        width: 50% !important;
        margin-left: 0 !important;
    }

    #filter-container #advance-filter select {
        width: 95% !important;
        height: 46px;
        margin-top: 0px;
        margin-bottom: 11px;
    }

    #filter-container #quantiy-result {
        padding: 5px;
        margin-right: 7px;
    }
</style>
<!-- Img List -->
<hr class="filter-separator">

<div layout="row">
    <div class="left">
        <div class="row" ng-show="activePersons.length > 0">
            <div class="full-width" id="personas-seleccionadas-box">
                <div class="persona-seleccionada" ng-repeat="active in activePersons">
                    <a ng-click="remove(active)" class="badge badge-warning remove">
                        <i class="fa fa-times"></i>
                    </a>

                    <div class="photo-frame" ng-style="{'background-image':'url(' +active.image +')'}"></div>
                    <p>{{active.name}}</p>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- /Img List -->