

<div class="filter-container" ng-controller="filterController">
    <div role="tabpanel" id="advance-filter">
            <div>
                <div class="search-row">
                    <input id="nombre" type="search" placeholder="Ingresá el Nombre y/​o Apellido" ng-model="filterAdvance.name" ng-change="filterAutoPersons(filterAdvance.name)" autocomplete="off" >    
                    <div class="opciones-busqueda buttons">
                        <div>
                            <a ng-click="switchSearch(true)" ng-hide="showBusAvanzado"><i class="fa fa-sliders"></i><span class="hideOnMobile">BÚSQUEDA </span><span>AVANZADA</span></a>
                        </div>
                        <div>
                            <a ng-click="switchSearch(false)" ng-show="showBusAvanzado"><i class="fa fa-chevron-up"></i><span class="hideOnMobile">BÚSQUEDA </span><span>SIMPLE</span></a>
                        </div>
                        <div ng-class="showSharing ? 'active':''" >
                        <a ng-click="switchSharing(true)" ng-hide="showSharing || activePersons.length == 0"><i class="fa fa-share-alt"></i>COMPARTIR</a>
                        <a ng-click="switchSharing(false)"  ng-show="showSharing && activePersons.length > 0"><i class="fa fa-share-alt"></i>COMPARTIR</a>
                        </div>
                        <div>
                            <a ng-click="clearEverthing()" ng-hide="activePersons.length == 0"><i class="fa fa-trash"></i>LIMPIAR<span class="hideOnMobile"> SELECCIÓN</span></a>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Filter -->
            <div>
                <div class="sharing buttons wow fadeIn" ng-show="showSharing">
                        <p><a ng-click="tweetThis()"><i class="fa fa-twitter"></i>Twitea esta linea</a></p>
                        <!-- <p class="showOnMobile">

                            <a href="whatsapp://send" data-text="{{shareCopy}}" data-href="{{currentLink()}}">
                                <i class="fa fa-whatsapp"></i>WhatsAppea esta linea</a>
                        </p> -->

                        <p><a href=""><i class="fa fa-link"></i>Copiar Link</a></p>
                        <input type="text" value="{{currentLink()}}"/>
                        <p><a href=""><i class="fa fa-globe"></i>Agrega la linea en tu sitio </a></p>
                        <input type="text" value="{{embedIframe()}}"/>

                </div>
            </div>
            <div>
                <div class="filters wow fadeIn" ng-show="showBusAvanzado">
                    <select ng-model="filterAdvance.territory" ng-change="filterAutoPersonsAdvance()" ng-options="territory as territory for territory in getTerritories() | orderBy:'toString()'">
                        <option value="">Seleccionar territorio</option>
                    </select>
                    <select ng-model="filterAdvance.jobTitle" ng-change="filterAutoPersonsAdvance()" ng-options="jobTitle as jobTitle | lowercase for jobTitle in getJobTitle() | orderBy:'toString()'">
                        <option value="">Seleccionar cargo</option>
                    </select>
                    
                    <select ng-model="filterAdvance.decade" ng-change="filterAutoPersonsAdvance()" ng-options="
                        decade.key as decade.label for decade in getDecades()">
                        <option value="">Seleccionar decada</option>
                    </select>
                </div>
                <div ng-show="showPresets && presets.length">
              <p>¿No sabés que buscar? Probá los siguientes grupos</p>
              <div class="">
                    <ul>
                        <li ng-repeat="p in presets"> 
                          <p><a class="hand" ng-click="load(p.valores, true)">{{p.nombre}}</a></p>
                        </li>

                    </ul>
              </div>
            </div>
               
                <div id="resultadosBusqueda" ng-show="search && !showPresets">
                    <h3 id="quantiy-result" class="description">

                        
                        <span ng-hide="autoPersons.length == 0" >
                            <i class="fa fa-users"></i> 
                            Personas encontradas: {{autoPersons.length}} 

                            
                            <br><span ng-show='filterAdvance.name'>'{{filterAdvance.name}}'  </span>
                <span ng-show='filterAdvance.territory'> 
                    en {{filterAdvance.territory}}  </span>
                <span ng-show='filterAdvance.jobTitle'>
                    como {{filterAdvance.jobTitle}}  </span>
                <span ng-show='filterAdvance.decade'> durante {{filterAdvance.decade}} </span>
                        </span>
                    
                        <div ng-show="autoPersons.length == 0 && search ">
                            <span >
                               No encontramos nada para 
                            </span>
                            <br>
                              
                <span ng-show='filterAdvance.name'>'{{filterAdvance.name}}'  </span>
                <span ng-show='filterAdvance.territory'> 
                    en {{filterAdvance.territory}}  </span>
                <span ng-show='filterAdvance.jobTitle'>
                    como {{filterAdvance.jobTitle}}  </span>
                <span ng-show='filterAdvance.decade'> durante {{filterAdvance.decade}} </span>
                            
                        </div>
                        <div class="close">
                            <a ng-click="clearFilter()" alt="Limpiar filtro" ><i class="fa fa-times"></i></a>
                        </div>
                    </h3>
                    

                    <div class="results" ng-hide="autoPersons.length == 0 && showBusAvanzado">
                        <div class="item" ng-repeat="item in autoPersons" >
                            <a ng-click="add(item,item.index)" class="resultados-item" ng-class="item.styles">
                                <i ng-hide="item.agregada" class="fa fa-user-plus"></i> {{item.name}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Filter -->
        </div>
    </div>
</div>

