<div class="module " ng-show="ready">
	<div class="row dashboard">
		<div class="col s12 wow fadeInRightBig">
			<div class="row hide-on-med-and-up">
				<h3>{{customization.resumeLabel}}</h3>
				<h1> <span 
					 count-to="{{getMembershipCount()}}" 
					 value="1" duration="3"> </span> <small> puestos </small> 
				</h1>
				<h1>
					<span 
					 count-to="{{getPersonsCount()}}" 
					 value="1" duration="3">
					</span>
					<small> {{customization.politicians}}</small>
				</h1>
				<h1><span 
				 count-to="{{getMaxYear() - getMinYear()}} " 
				 value="1" duration="3">
				</span> <small>{{customization.years}} ({{getMinYear()}} - {{getMaxYear()}}) </small> </h1>
			</div>
		</div>
		<div class="col s12 m4 wow fadeInLeftBig hide-on-small-only">
			<div class="dashboard">
				<h3>{{customization.resumeLabel}}</h3>
			<h1> <span 
				 count-to="{{getMembershipCount()}}" 
				 value="1" duration="3"> </span> <small> {{customization.post}} </small> </h1> 
			<h1>
				<span 
				 count-to="{{getPersonsCount()}}" 
				 value="1" duration="3">
				</span>
				<small> {{customization.politicians}}</small>
			</h1>

			<h1> 
				<span 
				 count-to="{{getOrganizations().length}}" 
				 value="1" duration="3">
				</span>
				 <small> {{customization.organizations}}</small> </h1>
			<h1> <span 
				 count-to="{{getTerritories().length}}" 
				 value="1" duration="3">
				</span><small>  {{customization.territories}}</small> </h1>
			<h1> <span 
				 count-to="{{getJobTitle().length}}" 
				 value="1" duration="3"> </span>  <small>  {{customization.categories}}   </small>   </h1>
			
			<h1><span 
				 count-to="{{getMaxYear() - getMinYear()}} " 
				 value="1" duration="3">
				</span> <small> {{customization.years}} ({{getMinYear()}} - {{getMaxYear()}}) </small> </h1>
			
        	</div>
        	<!-- <h3> {{customization.lastUpdate}} <span am-time-ago="message.time"></span> </h3> -->
			
    	</div>
		<div class="col s12 m8 wow fadeInRightBig">
			<div class="row trends">
			    	<div class="col s12 m6" ng-repeat="p in presets"> 
			    		<div class="row">
			    			<div class="col s12 m12 topic-row">
			    				<div class="pic">
					            	<img ng-src="{{p.photo}}">
					        	</div>
					         		<div class="topic">
					            		<a class="hand" ng-click="reload(p.valores)">#{{p.nombre}}</a>
					            	</div>
			        		</div>
			        	</div>
			        </div>
			        <div class="col s12 m6" > 
			    		<div class="row">
			    			<a class="hand" href="/#/search">
			    			<div class="col s12 m12 topic-row">
			    				<div class="pic">
					            	<img class="ico" src="https://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bx4BSt6jniD7dmd3YXBWVmx1VG8/usability_bidirectionality_guidelines_whennot5.png">
					        	</div>
					         	<div class="topic">
					            	<a class="hand" ng-click="go('search')"> {{customization.search}}</a>
					            </div>
			        		</div>
			        		</a>
			        	</div>
			        </div>

			        
			        <div class="col s12 m6" ng-repeat="p in getPersonRanking()"> 
			    		<div class="row">
			    			<div class="col s12 m12 topic-row">
			    				<div class="pic">
					            	<img ng-src="{{p.person.image}}">
					        	</div>
					         	<div class="topic">
					            	<a class="hand" ng-click="loadPerson(p)">#{{p.name}}</a>
					        	</div>
			        		</div>
			        	</div>
			        </div>

			         <!-- <div class="col s12 m6" > 
			    		<div class="row ">
			    			<div class="col s12 m12 topic-row">
			    				<div class="pic">
					            	<img class="ico"  src="https://image.freepik.com/free-icon/location-mark_318-40739.png">
					        	</div>
					         	<div class="topic">
					            	<a class="hand" ng-click="load(p.valores, true)">¿Donde estas?</a>
					        	</div>
			        		</div>
			        	</div>
			        </div> -->
			        <div class="col s12 m6" ng-repeat="p in getTerritoryRanking()"> 
			    		<div class="row">
			    			<div class="col s12 m12 topic-row">
			    				<div class="pic">
					            	<img ng-src="
					            	{{customization.territoryPlaceholder}}">
					        	</div>
					         	<div class="topic">
					            	<a class="hand" ng-click="go('search/territory/' + p.key)">#{{p.name}}</a>
					            </div>
			        		</div>
			        	</div>
			        </div> 
			        <div class="col s12 m6" ng-repeat="p in getMembershipRanking()"> 
			    		<div class="row">
			    			<div class="col s12 m12 topic-row">
			    				<div class="pic">
					            	<img ng-src="
					            	{{customization.membershipPlaceHolder}}">
					        	</div>
					         	<div class="topic">
					            	<a class="hand"
					            	ng-click="go('search/membership/' + p.name)"

					            	>#{{p.name}}</a>
					            </div>
			        		</div>
			        	</div>
			        </div>        
    		</div>
    	</div>
</div>
