<div class="row" id="linea-de-tiempo">
	<div class="accordion-group">
		<div class="alert-error accordion-heading alert ">
			<div style="float:left">
				<h3 class="titulo-tab"><i class="fa fa-tasks"></i>L&iacute;nea de tiempo</h3>
				<span class="subtitulo">Muestra los recorridos en la funci&oacute;n p&uacute;blica de de los funcionarios seleccionados</span>
			</div>
			<ul class="nav nav-pills alert-error titulo-tab-ul">
			  <li class="" ng-class="order == 'memberships' ? 'active' : '' ">
			  	<a id="ordenCargo" href="" ng-click="orderLine('height', 'memberships')">Cargo</a>
			  </li>
			  <li class="" ng-class="order == 'contiguous' ? 'active' : '' ">
			    <a id="ordenNombre" href="" ng-click="orderLine('height', 'contiguous')">Nombre</a>
			  </li>
		        <li ng-class="filter == 'aligned' ? 'active' : '' ">
		          <a id="ordenNombre" href="" ng-click="filterLine('display','aligned')">Carrera</a>
		        </li>
		        <li ng-class="filter == 'timeline' ? 'active' : '' ">
		          <a id="ordenNombre" href="" ng-click="filterLine('display','timeline')">Año</a>
		        </li>
		         <div class="span4" ng-hide="showPresets" >
                  <span class="label">Seleccionados: {{activePersons.length}} </span><br>
                  <a id="limpiar-buscar-filtro" ng-click="clearAll()" class="badge badge-warning">
                  <i class="fa fa-times" ></i> Limpar todo
                  </a>
                  <br>
                  <a href="#" class="badge badge-warning" onclick="window.open('https://twitter.com/intent/tweet?text=Linea%20de%20tiempo%20de%20politicos%3A&amp;tw_p=tweetbutton&amp;via=cargografias&amp;url='+encodeURIComponent(location.href),'twitter-share-dialog','width=626,height=436'); 
                  return false;"><i class="fa fa-twitter"></i>Compartí esta Linea</a>    </div>
			</ul>
			<!-- <span class="label" style="float: right;">Año Seleccionado: {{activeYear}}</span> -->
			

				
		</div>
    <div class="vis"></div>
    <div id="infobox">  </div>
	</div>
</div>
