
<div class="timeline-filter" ng-show="activePersons.length > 0">
<ul>
    <li ng-class="filter === 'name' ? 'active' : '' ">
          <a id="ordenNombre" href="" ng-click="filterLine('name')">
            <i class="fa fa-user"></i>
            Nombre</a>
        </li>
    <li class="" ng-class="filter === 'memberships' ? 'active' : '' ">
      <a id="ordenCargo" href="" ng-click="filterLine('memberships')">
        <i class="fa fa-briefcase"></i>Cargo</a>
    </li>
    <li class="" ng-class="filter === 'territory' ? 'active' : '' ">
      <a id="ordenCargo" href="" ng-click="filterLine('territory')">
        <i class="fa fa-flag"></i>Territorio</a>
    </li>
    <li class="" ng-class="filter === 'career' ? 'active' : '' ">
      <a id="ordenNombre" href="" ng-click="filterLine('career')">
        <i class="fa fa-tasks"></i>Carrera</a>
    </li>
    
 </ul>
</div>


<div id="linea-de-tiempo">
	<div class="visualizacion">
      <div id="svgdataurl"></div>
		</div>
  <div class="vis"></div>
  <div id="infobox">  </div>
</div>

