<div class="module " ng-show="ready">
	<div class="row ">
		<div class="col s12 m6">
        	
			<h3> Ultima actualizacion <span am-time-ago="message.time"></span> </h3>



	    	<h2 ng-repeat="p in presets"> 
	            <a class="hand" ng-click="load(p.valores, true)">#{{p.nombre}}</a>
	        </h2>
        </div>
		<div class="col s12 m6">
			<div class="dashboard">
				<h3>¿Que informacion tenemos?</h3>
			<h1> <span 
				 count-to="{{cargosFactory.membershipsCount}}" 
				 value="1" duration="3"> </span> <small> puestos </small> </h1> 
			<h1>
				<span 
				 count-to="{{cargosFactory.persons.length}}" 
				 value="1" duration="3">
				</span>
				<small> politicos</small>
			</h1>

			<h1> 
				<span 
				 count-to="{{cargosFactory.organizations.length}}" 
				 value="1" duration="3">
				</span>
				 <small> organizaciones</small> </h1>
			<h1> <span 
				 count-to="{{getTerritories().length}}" 
				 value="1" duration="3">
				</span><small> territorios</small> </h1>
			<h1> <span 
				 count-to="{{getJobTitle().length}}" 
				 value="1" duration="3"> </span>  <small> categorias   </small>   </h1>
			
			<h1><span 
				 count-to="{{cargosFactory.maxYear - cargosFactory.minYear}} " 
				 value="1" duration="3">
				</span> <small>años ({{cargosFactory.minYear}} - {{cargosFactory.maxYear}}) </small> </h1>
			
        	</div>
    	</div>
		

</div>
