
<div class="module">
	<div class="description">
		<h3><i class="fa fa-user"></i>{{customization.selectFunctionary}}: {{activePersons.length}}</h3>
	</div>
	<div ng-show="ready" ng-include="'/angular/partials/active-persons.html'"></div>
	<div ng-show="ready" ng-include="'/angular/partials/filter.html'"></div>
</div>
<div class="module timeline">
	<div class="description">
		<h3><i class="fa fa-tasks"></i>{{customization.timeline}}</h3>
	</div>
<div ng-show="ready" ng-include="'/angular/partials/linea.html'"></div>
</div>
<div class="module">
	<div class="description">
		<h3><i class="fa fa-bar-chart"></i>{{customization.stats}}</h3>
	</div>
	<div ng-show="ready" ng-include="'/angular/partials/hall-of-shame.html'"></div>
	<div ng-show="ready" ng-include="'/angular/partials/stats.html'"></div>
</div>