<div class="module search" ng-show="ready">
	<div class="row dashboard">

		<div class="col s12 m4 wow fadeInLeftBig">
			<div class="dashboard">
			<h3>¿Que deseas buscar?</h3>
					<h1 >
						<span 
						count-to="{{autoPersons.length}}" 
						 value="1" duration="2">
						</span> 
						<small> politicos</small>
					</h1>
				<div>
					<input id="nombre" type="search" placeholder="Ingresá el Nombre y/​o Apellido" 		ng-model="filterAdvance.name" 
						ng-change="filterAutoPersons(filterAdvance.name)"/>    
					<p>
                    <select ng-model="filterAdvance.territory" ng-change="filterAutoPersonsAdvance()" ng-options="territory as territory for territory in getTerritories() | orderBy:'toString()'">
                        <option value="">Seleccionar territorio</option>
                    </select>
                </p><p>
                    <select ng-model="filterAdvance.jobTitle" ng-change="filterAutoPersonsAdvance()" ng-options="jobTitle as jobTitle | lowercase for jobTitle in getJobTitle() | orderBy:'toString()'">
                        <option value="">Seleccionar cargo</option>
                    </select>
                 </p><p>
                    <select ng-model="filterAdvance.decade" ng-change="filterAutoPersonsAdvance()" ng-options="
                        decade.key as decade.label for decade in getDecades()">
                        <option value="">Seleccionar decada</option>
                    </select>
                  </p>
                </div>
        	  </div>

        	  <p>  </p>
        	  <div ng-show="autoPersons.length < 10 &&  autoPersons.length > 0" class="wow fadeIn">
				<div class="timeline-filter">
						<ul>
						    <li class="" ng-click="filterLine('memberships')" ng-class="filter === 'memberships' ? 'active' : '' ">
						      <a id="ordenCargo" href="" ng-click="compareResult()" >
						        <i class="fa fa-tasks"></i>
						    	   
						    	   Comparar {{autoPersons.length}} personas
						    </a>
						    </li>
						</ul>
					</div>
			</div>
        	  <div ng-show="selectedPersons.length > 0"  class="wow fadeIn"> 

        	  	<h2>
						<span 

						count-to="{{selectedPersons.length}}" 
						 value="1" duration="1">
						</span>
						<small> personas seleccionadas </small>
					</h2>
        	  	
	        	  <div class="timeline-filter">
						<ul>
						    <li class="" ng-click="filterLine('memberships')" ng-class="filter === 'memberships' ? 'active' : '' ">
						      <a id="ordenCargo" href="" ng-click="compareSelected()" >
						        <i class="fa fa-tasks"></i>Comparar Selección</a>
						    </li>
						</ul>
					</div>

			</div>
			
    	</div>
    	<div class="col s12 m8 wow fadeInRightBig">
			<div class="row result">

			    	<div class="col s12 m12" ng-repeat="p in autoPersons | 
			    	orderBy:'-memberships.length'"> 
			    		<div class="row">
			    			<div class="col s4">
			    				<div class="pic">
					            	<img ng-src="{{p.image}}">
					        	</div>
					        </div>
					        <div class="col s6">
					            	<h2><a class="hand" ng-click="goto(p)">{{p.name}}</a></h2> 
					            	<h2><small>({{p.memberships.length}} puestos)</h2>
			        		</div>
			        		<div class="col s2">
			        			<h2 ng-show="p.added" class="wow fadeIn">
			        				<a ng-click="removePerson(p)" class="crucecita"><i class="fa fa-times"></i></a></h2>
			        			<h2  class="wow fadeIn">
									<a ng-click="addPerson(p,p.index)" class="resultados-item" ng-class="item.styles">
                                <i ng-hide="p.added" class="fa fa-user-plus"></i></h2>
                            </a>
			        		</div>

			        	</div>
			        </div>   
			        <div ng-show="autoPersons.length == 0 && started" class="col s12 m12"> 
			        	<h2> No hemos encontrado personas  
			        		<span ng-show="filterAdvance.name"> con nombre '{{filterAdvance.name}}' </span>
			        		<span ng-show="filterAdvance.jobTitle"> para {{filterAdvance.jobTitle}} </span>
			        		<span ng-show="filterAdvance.territory">  en {{filterAdvance.territory}}</span>
			        		<span ng-show="filterAdvance.decade">  durante {{filterAdvance.decade}} </span>
			        		<p> <a href="" class="cta" ng-click="suggest()">Queres que ver esto en la plataforma? ¡Sugerilo ahora!  <i class="fa fa-twitter"></i></a></a> </p>
			        	</h2>
			        	<h3> Intenta con algunos de estos resultados </h3>
			        </div>
			        <div ng-show="autoPersons.length === 0 && !started">
			        	<h2> Estos son los politicos con mas entradas </h2>
			        </div>
			    	<div ng-hide="autoPersons.length > 0" class="col s12 m12" ng-repeat="p in getPersonRanking() | 
			    	orderBy:'-person.memberships.length'"> 
			    		<div class="row">
			    			<div class="col s4">
			    				<div class="pic">
					            	<img ng-src="{{p.person.image}}">
					        	</div>
					        </div>
					        <div class="col s8">
					            	<h2><a class="hand" ng-click="goto(p)">{{p.name}}</a></h2><h2> <small>({{p.person.memberships.length}} puestos) </small></h2>
					        	
			        		</div>
			        	</div>
			        </div>            
    		</div>
    	</div>
</div>
