<div class="module search" ng-show="ready">
	<div class="row dashboard">

		<div class="col s12 m4 wow fadeInLeftBig">
			<div class="dashboard">
			<h3>{{customization.whatosearch}}</h3>
					<h1 >
						<span 
						count-to="{{countResult}}" 
						 value="1" duration="2">
						</span> 
						<small> {{customization.results}}</small>
					</h1>
					

				<div>
					<input id="nombre" type="search" placeholder='{{customization.enterName}}'		ng-model="filterAdvance.name" 
						ng-change="filterAutoPersons(filterAdvance.name)"/>    
					<p>
                    <select ng-model="filterAdvance.territory" ng-change="filterAutoPersonsAdvance()" ng-options="territory as territory for territory in getTerritories() | orderBy:'toString()'">
                        <option value="">{{customization.selectTerritory}}</option>
                    </select>
                </p><p>
                    <select ng-model="filterAdvance.jobTitle" ng-change="filterAutoPersonsAdvance()" ng-options="jobTitle as jobTitle | lowercase for jobTitle in getJobTitle() | orderBy:'toString()'">
                        <option value="">{{customization.selectPosition}}</option>
                    </select>
                 </p><p>
                    <select ng-model="filterAdvance.decade" ng-change="filterAutoPersonsAdvance()" ng-options="
                        decade.key as decade.label for decade in getDecades()">
                        <option value="">{{customization.selectDecade}}</option>
                    </select>
                  </p>
                </div>
        	  </div>

        	  <p>  </p>
        	  <div ng-show="autoPersons.length <= 10 &&  autoPersons.length > 0" class="wow fadeIn">
				<div class="timeline-filter">
						<ul>
						    <li class="" ng-click="filterLine('memberships')" ng-class="filter === 'memberships' ? 'active' : '' ">
						      <a id="ordenCargo" href="" ng-click="compareResult()" >
						        <i class="fa fa-tasks"></i>
						    	   
						    	   Comparar {{autoPersons.length}} personas
						    </a>
						    </li>
						</ul>
					</div>
			</div>
        	  <div ng-show="selectedPersons.length > 0"  class="wow fadeIn"> 

        	  	<h2>
						<span 

						count-to="{{selectedPersons.length}}" 
						 value="1" duration="1">
						</span>
						<small> {{customization.selectecPersons}} </small>
					</h2>
        	  	
	        	  <div class="timeline-filter">
						<ul>
						    <li class="" ng-click="filterLine('memberships')" ng-class="filter === 'memberships' ? 'active' : '' ">
						      <a id="ordenCargo" href="" ng-click="compareSelected()" >
						        <i class="fa fa-tasks"></i>{{customization.compare}}</a>
						    </li>
						    <li class="" ng-click="filterLine('memberships')" ng-class="filter === 'memberships' ? 'active' : '' ">
						      <a id="ordenCargo" href="" ng-click="clearSelected()" >
						        <i class="fa fa-check"></i>{{customization.clear}}r</a>
						    </li>
						</ul>
					</div>

			</div>
			
    	</div>
    	<div class="col s12 m8 wow fadeInRightBig">
			<div class="row result">
					<div class="col s12 m12"> 
						<h2 ng-show="countResult != autoPersons.length && countResult!=0" class="wow FadeIn"> {{customization.bests}} {{autoPersons.length}} de {{countResult}} </h2>
					</div>
			    	<div class="col s12 m12" ng-repeat="p in autoPersons"> 
			    		<div class="row">
			    			<div class="col s4">
			    				<div class="pic">
					            	<img ng-src="{{p.image}}">
					        	</div>
					        </div>
					        <div class="col s6">
					            	<h2><a class="hand" ng-click="goto(p)">{{p.name}}</a></h2> 
					            	<h2><small>({{p.memberships.length}} puestos)</h2>
			        		</div>
			        		<div class="col s2">
			        			<h2 ng-show="p.added" class="wow fadeIn">
			        				<a ng-click="removePerson(p)" class="crucecita"><i class="fa fa-times"></i></a></h2>
			        			<h2  class="wow fadeIn">
									<a ng-click="addPerson(p,p.index)" class="resultados-item" ng-class="item.styles">
                                <i ng-hide="p.added" class="fa fa-user-plus"></i></h2>
                            </a>
			        		</div>

			        	</div>
			        </div>   
			        <div ng-show="autoPersons.length == 0 && started" class="col s12 m12"> 
			        	<h2> {{customization.notFound}}
			        		<span ng-show="filterAdvance.name"> {{customization.name}} '{{filterAdvance.name}}' </span>
			        		<span ng-show="filterAdvance.jobTitle"> {{customization.forWord}}  {{filterAdvance.jobTitle}} </span>
			        		<span ng-show="filterAdvance.territory">  {{customization.at}}  {{filterAdvance.territory}}</span>
			        		<span ng-show="filterAdvance.decade">  {{customization.on}}  {{filterAdvance.decade}} </span>
			        		<p> <a href="" class="cta" ng-click="suggest()">{{customization.suggestThis}} <i class="fa fa-twitter"></i></a></a> </p>
			        	</h2>
			        	<h3> {{customization.tryThis}}</h3>
			        </div>
			        <div ng-show="autoPersons.length === 0 && !started">
			        	<h2>{{customization.mostPopular}}</h2>
			        </div>
			    	<div ng-hide="autoPersons.length > 0" class="col s12 m12" ng-repeat="p in getPersonRanking() | 
			    	orderBy:'-person.memberships.length'"> 
			    		<div class="row">
			    			<div class="col s4">
			    				<div class="pic">
					            	<img ng-src="{{p.person.image}}">
					        	</div>
					        </div>
					        <div class="col s8">
					            	<h2><a class="hand" ng-click="goto(p)">{{p.name}}</a></h2><h2> <small>{{p.person.memberships.length}} {{customization.post}} </small></h2>
					        	
			        		</div>
			        	</div>
			        </div>            
    		</div>
    	</div>
</div>
