<div class="" id="comparador">
<div class="timeline-filter" ng-show="activePersons.length > 0">
<ul>
    <li ng-click="downloadNow()">
          <a id="ordenNombre" href="" >
            <i class="fa fa-download"></i>
            {{customization.export}}  (json)</a>
        </li>
 </ul>
</div>
  	<div class="">
	    <div class="stats">
			<div class="">
				<div class="stats-container">
					<table class="table" cellpadding="0" cellspacing="0" ng-show="activePersons.length > 0">
						<tbody>
						<tr>
							<th></th>
							<td></td>
							<td>{{customization.post}}</td>
							<td>{{customization.first}}</td>
							<td>{{customization.last}}</td>
							<td>{{customization.ejec}}</td>
							<td>{{customization.legis}}</td>
							<td>{{customization.jud}}</td>
							<td>{{customization.elect}}</td>
							<td>{{customization.noElect}}</td>
							<td>{{customization.reelect}}</td>
						</tr>
						<tr ng-repeat="active in activePersons">
							<td>{{active.name}}</td>
              <td></td>
							<td>{{active.memberships.length}}</td>
							<td>{{active.periods.started.format("DD-MM-YYYY")}}</td>
							<td>{{active.periods.last.format("DD-MM-YYYY")}}</td>
							<td>{{active.summary.executives}}</td>
							<td>{{active.summary.legislative}}</td>
							<td>{{active.summary.judiciary}}</td>
							<td>{{active.summary.elected}}</td>
							<td>{{active.summary.notElected}}</td>
							<td>{{active.summary.reElected}}</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
