html
{
  
  font-family: 'Lato', sans-serif;
}
.label, .badge{
  padding-left: 11px;
  padding-right: 11px;
  font-weight: normal;
  font-size: 1.1em;
}
.label{
  text-align: center;
}

svg text{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

#year-marker-label {
  font-size: 12px;
  stroke-width: 0;
  fill: red;
  font-weight: bold;
}

#year-marker-badge:hover {
    fill:#CACACA;
  }

.alert-info{
  line-height: 22px;
}

.fa{ /*iconitos!*/
  font-size: 14px;
  margin-right: 10px;
}

.persona-seleccionada p{
  font-size: 12px;
  line-height: 12px;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 78px;
}

.persona-seleccionada {   
  width: 80px;
  margin: 0.2em;
  float: left;
  display: inline-table;
  padding: 0;
  list-style: none;
  margin-bottom: 0em;
  margin-top: 0em;
}


.persona-seleccionada div.photo-frame {
  overflow: hidden;
  max-height: 60px;
  min-width: 75px;
  height: 60px;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 7px;
}
.persona-seleccionada img.photo{ }

.label-warning, .badge-warning {
  background-color: #F57C52;
}
.badge-selected {
  background-color: #999;
  }

badge{
  transition: opacity 0.5s ease;
  opacity: 1;
};

badge:hover{
  opacity: 0.5;
};

  .node {
    cursor: pointer;
  }

  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
  }

  .node text {
    font: 12px sans-serif;
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }
  
  div.tooltip {   
    position: absolute;           
    text-align: center;           
    width: 200px;                  
    height: 50px;                 
    padding: 2px;             
    font: 12px sans-serif;        
    background: lightsteelblue; 
    border: 0px;      
    border-radius: 8px;           
    pointer-events: none;         
}

div.box img {
   max-height: 200px; 
  
}

.row.centered{
  text-align: center;
  left: 50%;
}

a.hand{
  cursor: pointer;
}


.vis .background{
  fill:rgb(248, 248, 248);
}

#nombre{
  width: 328px;
  height: 30px;
  margin-top: 11px;
  border: none;
  border-radius: 8px;
  padding-left: 12px;
  margin-bottom: 7px;
  color: rgb(76, 61, 57);
}

div.loader h3{
  "margin-top:100px;
  margin-bottom:200px;
  height:200px;
  width:500px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.span4{
  margin: auto;
}

.well{
  position: relative;
  height: 206px;
}

.well div.sponsors{
  position: absolute;

  right: 200px;
  background: white;
}

div.main{
  margin-top: 44px;
}

.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 96%;
}

.photo-frame{
  background-size: cover;
  background-position: 50% 3%;
}
.twitter{
  background-color: #79CEDF;
}

.full-width {
  width: 100%;
  background-color: rgb(232, 232, 232);
  max-width: 100%;
  display: inline-flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.full-width .persons{
    padding-top: 1em;
}
.label.full-width{
  width: 100%;
  background-color: rgb(232, 232, 232);
  max-width: 100%;
  display: inherit;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: inherit;
}
span.label.full-width{
  background-color: #999;
}
.twenty.right{
  background-color: rgb(232, 232, 232);
}

.two-third-width{
  width: 66.6666%;
}
.one-third-width{
  width: 33.3333%;
}
.person-box{
    /*display: inline-flex;*/
}
.person-box li{
  list-style: none;
  width: 100%;
}
.person-box ul{
  margin:0;
  padding:0;
}
.twenty {
  width: 19%;
}
.eighty{
  width: 86%;

}
.right {
  float: right;

}
.left {
  float: left;
}

.premio h1 {
  font-size: 2.8em;
}

.inline{
  display: inline-flex;
}

.centered{
  position: relative;
  text-align: center;

}

.accordion-group {
background-color: #f2f2f2;
border-color: #E6E6E6;
margin-bottom: 15px;
-moz-box-shadow: inset 0 0 7px #8F8F8F;
-webkit-box-shadow: inset 0 0 7px #8F8F8F;
box-shadow: inset 0 0 7px #8F8F8F;
}

 
.vis {
  border: none;
  shape-rendering: crispEdges;
  background: #FFF
  max-width: 100%;
  overflow-x: scroll;

}

rect.bar {
  stroke: rgb(233, 233, 233);
  fill: #969D9B;
  fill-opacity: .75;
  cursor: pointer;
}



rect.bar.legislativo,
rect.bar.Legislativo {
  fill: #3F51B5;/*Material Indigo 500*/
}
rect.bar.legislativo.nacional{
  fill: #3F51B5;/*Material Indigo 500*/
}
rect.bar.legislativo.provincial{
  fill: #7986CB;/*Material Indigo 300*/
}

rect.bar.legislativo.concejal,
rect.bar.legislativo.municipal.concejal{
  fill: #C5CAE9;/*Material Indigo 100*/
}

rect.bar.ejecutivo,
rect.bar.Ejecutivo{
  fill: #F44336; /*Material Red 500*/
}
rect.bar.ejecutivo.nacional{
  fill: #F44336; /*Material Red 500*/
}
rect.bar.ejecutivo.provincial{
  fill: #E57373;/*Material Red 300*/
}
rect.bar.ejecutivo.municipal.intendent,
rect.bar.ejecutivo.intendente{
  fill: #FFCDD2; /*Material Red 100*/
}
rect.bar.legislativo,
rect.bar.Legislativo {
  fill: #3F51B5;/*Material Indigo 500*/
}
rect.bar.legislativo.nacional{
  fill: #3F51B5;/*Material Indigo 500*/
}
rect.bar.legislativo.provincial{
  fill: #7986CB;/*Material Indigo 300*/
}

rect.bar.legislativo.concejal,
rect.bar.legislativo.municipal.concejal{
  fill: #C5CAE9;/*Material Indigo 100*/
}

rect.bar.ejecutivo,
rect.bar.Ejecutivo{
  fill: #F44336; /*Material Red 500*/
}
rect.bar.ejecutivo.nacional{
  fill: #F44336; /*Material Red 500*/
}
rect.bar.ejecutivo.provincial{
  fill: #E57373;/*Material Red 300*/
}
rect.bar.ejecutivo.municipal.intendent,
rect.bar.ejecutivo.intendente{
  fill: #FFCDD2; /*Material Red 100*/
}

g.barGroup:hover rect.bar {
  fill-opacity: 1;
}

line.peakLine {
  stroke: #AEFF00;
  stroke-width: 1px;
}




text {
  font-size: 0.8em;
  fill: #fff;
}

text.rule {
  fill: #BABABA;
  font-size: 0.9em;
  
}



text.barLabel {
  font-size: 0.8em;
  fill: black;
}

text.itemLabel{
  font-size: 0.9em;
  fill: #000;
}

text.boxLabel {
  cursor: pointer;
}
text.boxLabel tspan.main {
    font-size: 1.1em;
}
text.boxLabel tspan.sub{
    font-style: oblique;
}
text.membershipLabel, text.territoryLabel{
 fill: #000; 
 font-size: 0.9em;
}

tspan.sub {
  font-style: italic;
}



path.bezier{
  stroke-width: 2px;
  stroke-opacity: 1;  
}
line.tickLine {
  stroke: rgba(51, 51, 51, 0.1);
}
line.mouseLine {
  stroke: #0ff;
  stroke-opacity: .3;
}

#controls {
  padding: 4px;

}
a {
  cursor: pointer;
  text-decoration: none;
}
a.active {

}

svg image.picture{
  max-width: 100px;
  min-width: 100px;
  width: 100px;
  height: 100px;

}

#infobox {
  position: absolute;
  width: 220px;
  height: auto;
  padding: 8px;
  display: none;
  background: #FFF;
  color: #000;
  text-align: center;
  opacity: 0.9;
}
#infobox img {
  max-width: 100px;
}

.title {
  font-weight: bold;
}




.tabsdemoStaticTabs {
  /*
 * Animation styles
 */ }
  .tabsdemoStaticTabs #tab1-content {
    background-color: #3F51B5; }
  .tabsdemoStaticTabs #tab2-content {
    background-color: #673AB7; }
  .tabsdemoStaticTabs #tab3-content {
    background-color: #00796B; }
  .tabsdemoStaticTabs .tabpanel-container {
    display: block;
    position: relative;
    background: black;
    border: 0px solid black;
    height:950px;
    overflow: hidden; }
  .tabsdemoStaticTabs [role="tabpanel"] {
    color: black;
    width: 100%;
    height: 100%;
    -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    position: absolute; }
  .tabsdemoStaticTabs [role="tabpanel"].ng-leave.ng-leave-active, .tabsdemoStaticTabs [role="tabpanel"].ng-enter {
    top: -300px; }
  .tabsdemoStaticTabs [role="tabpanel"].ng-leave, .tabsdemoStaticTabs [role="tabpanel"].ng-enter.ng-enter-active {
    top: 0; }
  .tabsdemoStaticTabs [role="tabpanel"].ng-leave {
    z-index: 100; }
  .tabsdemoStaticTabs .tabpanel-container [role="tabpanel"] {
    padding: 20px; }
  .tabsdemoStaticTabs .after-tabs-area {
    padding: 25px; }
  .tabsdemoStaticTabs .after-tabs-area > span {
    margin-top: 25px;
    padding-right: 15px;
    vertical-align: middle;
    line-height: 30px;
    height: 35px; }
  .tabsdemoStaticTabs .after-tabs-area > md-checkbox {
    margin-top: 26px;
    margin-left: 0px; }
  .tabsdemoStaticTabs .md-header {
    background-color: #1976D2 !important; }
  .tabsdemoStaticTabs md-tab {
    color: #90caf9 !important; }
  .tabsdemoStaticTabs md-tab.active, .tabsdemoStaticTabs md-tab:focus {
    color: white !important; }
  .tabsdemoStaticTabs md-tab[disabled] {
    opacity: 0.5; }
  .tabsdemoStaticTabs .md-header .md-ripple {
    border-color: #FFFF8D !important; }
  .tabsdemoStaticTabs md-tabs-ink-bar {
    background-color: #FFFF8D !important; }


html h3, body h3 {
  display: block;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
}




#infobox.bar{

  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear; 

  -webkit-transition: display 250ms linear;
  -moz-transition: display 250ms linear;
  -o-transition: display 250ms linear;
  -ms-transition: display 250ms linear;
  transition: display 250ms linear; 
}


#infobox.bar{
  background: #DFDFDF;
}

.nav{
  margin-top: -16px;
}

div.timeline ul.nav-pills li {
  float: left;
  width: 23%;
  text-align: center;

}

div.timeline ul.nav-pills li a{
  background: #000;
  
}


div.vis g.barGroup{ 
    
transition: opacity 300ms;
  -webkit-transition: opacity 300ms;/* Safari */

}
path.curves.bezier{   
  transition: opacity 300ms;
  -webkit-transition: opacity 300ms;/* Safari */

}







div.vis.highlight g.barGroup.highlight { opacity: 1;}

div.vis rect.backgroundGroup:nth-child(odd) {
    fill: #E1E2E4;
}
div.vis rect.backgroundGroup:nth-child(even) {
    fill: #ffffff;
 }

div.persona-seleccionada{
  position: relative;
}

/*::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}*/

.checkeado{
  font-family: 'Roboto', sans-serif;
  background-color: red;
  color: white;
  font-weight: bold;
  text-decoration: none;
  
}

div.checkeado {
  font-size: 0.65em;
  padding-left: 0.35em;
  bottom: 25px;
  position: absolute;
  opacity: .8;
  width: 74px;
  border-radius: 0 0 4px 4px;
}
div.checkeado a {
  text-decoration: none;
  color:white;

}

p.checkeado{
  font-size: 1em;
  position: inherit;
  opacity: .8;
  width: 90%;
  border-radius: 4px 4px;
}

div.persona-seleccionada {
  position: relative;
  float: left;
}
.full-width{
  width: 100%;
  max-width: 100%;
}
.stats{
  overflow-x:scroll;
  width: 100%;
  max-width: 100%;
}

.stats-container table{
  width: 200%;
}
@media (min-width: 666px) {
 .stats-container{
    width: 135%;
    font-size:1em;
  } 
  .stats-container table{
    width: 100%;
  }
}






