.dashboard h1{
    font-size: 3em;
    margin: 0.15em;
}
.dashboard h1 small{
    font-size: 0.3em;
}
.dashboard h1 small{
    font-size: 0.4em;
}
header .row {
    padding-left: 0.3em;
    padding-right: 1em;
    vertical-align: middle;
    padding-bottom: 0;
    margin: 0;
}


.trends img{
	opacity: 0.4;
    max-width: 100%;
}
.trends img.ico{
    max-height: 100%;
}
.trends .row, .trends .row .col{
	margin:0;
	padding: 0;
}
.trends .col{
	margin:0;
	padding: 0;	
}
.trends .pic{
	overflow: hidden;
    max-width: 100%;
    text-align: center;
    height: 200px;
}
.trends .topic-row{
	position: relative;
	overflow: hidden;
	max-width: 100%;
	width: 100%;
}
.trends .topic{
	position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    font-size: 1.8em;
    padding-left: 0.25em;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
    background: rgba(151, 157, 162, 0.62);
    
}


div.main div.loader {
    margin-top: auto;
    margin-bottom: auto;
    height: 80vh;
    width: auto; 
    margin-left: auto; 
    margin-right: auto 
}
div.main div.loader h3 {

    margin-top: auto;
    margin-bottom: auto;
    height: auto;
    width: auto; 
    margin-left: auto; 
    margin-right: auto
}

div.main div.search div.dashboard{
	padding-bottom: 1em;
}
div.main div.search div.pic{
	text-align: center;
	width: 100px;
	height: 100px;
	background-color: grey;
}
div.main div.search div.pic img{
	max-width: 100%;
	max-height: 100px;
	width: 100px;
	text-align: center;

}