.dashboard h1{
    font-size: 3em;
    margin: 0.15em;
}
.dashboard h1 small{
    font-size: 0.3em;
}
.dashboard h1 small{
    font-size: 0.4em;
}
header .row {
    padding-left: 0.3em;
    padding-right: 1em;
    vertical-align: middle;
    padding-bottom: 0;
    margin: 0;
}