<div class="tags-wrapper">
    <div id="tagsList" class="tags-cloud">
        <div ng-repeat="selectedTag in selectedTags" class="tag">
            <span class="tagName">{{selectedTag}}</span>
            <span>&nbsp;<b ng-click="removeTag($index)" class="fa fa-times cross"></b></span>
        </div>
         <md-content md-theme="docs-dark" class="" layout="row">
          <md-input-container class="md-docs-dark-theme md-input-has-value"  flex="100">
          <input 
            type="text" id="searchInput" ng-keydown="checkKeyDown($event)" 
            class="md-input form-control" ng-model="searchText" 
            ng-change="search()" tabindex="0" id="input_06B" }
            aria-invalid="false"
            placeholder="Ingrese el nombre del funcionario a buscar">
        </md-input-container>
        
    </div>
    <ul id="suggestions" class="suggestions-list">
       <li ng-repeat="suggestion in suggestions" class="blockSpan" ng-click="addToSelectedTags($index)" ng-mouseover="$parent.selectedIndex=$index" ng-class="{active : selectedIndex===$index}">{{suggestion}}</li>
     </ul>
</div> 